        <!-- footer -->
        <footer class="bg-dark px-5">
            <div class="container-fluid">
                <div class="row py-4">
                    <div class="col-lg-6 col-sm-8 text-light">
                        <h5 class="pb-2"><%= __('Landrich Holding Limited') %></h5>
                        <small class="font-italic"><%= __('stock code') %></small>
                        <p><%= __('subsidiaries') %></p>
                        <ul>
                            <li><%= __('REL') %></li>
                            <li><%= __('RCEL') %></li>
                            <li><%= __('TCCL') %></li>
                        </ul>
                    </div>
                    <div class="col-lg-5 col-sm-3 text-light">
                        <h5 class="pb-2"><%= __('contact us') %></h5>
                        <ul class="list-unstyled">
                            <li><%= __('tel') %></li>
                            <li><%= __('fax') %></li>
                            <li><%= __('LH email') %><a href="mailto:info@landrich.com.hk">info@landrich.com.hk</a></li>
                            <li><%= __('address') %></li>
                        </ul>
                    </div>
                    <div class="col-lg-1 col-sm-1">
                        <a href="/disclaimer" class="disclaim"><%= __('disclaimer') %></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col text-right text-light border-top pt-0">
                    <small class="pr-2">&copy; <%= __('copyright') %><span class="text-muted">(DL)</span></small>
                </div>
            </div>
        </footer>

        <!-- end of footer -->

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/script.js"></script>
    </body>
</html>