<%- include('./includes/head.ejs') %>

<!-- contact section -->
<div class="jumbotron p-0">
    <img class="img-fluid" src="../img/ban4.jpg">
</div>
<section class="bg-white px-4 py-5">
    <div class="container-fluid p-0">
        <h1 class="text-uppercase text-center mb-4"><%= __('leave message') %></h1>
        <div class="row">
            <div class="col-12"><p class="text-uppercase text-center py-1" style="background: #501b15; color: #f3d6d3;"><%= __('if have comments') %></p></div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8 pb-4">
                <form action="/message-sent" method="post" class="contact-form" onsubmit="">
                    <div class="form-group py-4">
                        <input type="text" class="form-control my-2 p-1 input" placeholder="<%= __('Name') %>" required>
                        <label for="name" class="label"><%= __('Name') %></label>
                    </div>
                    <div class="form-group py-4">
                        <input type="tel" class="form-control my-2 p-1 input" placeholder="<%= __('Phone') %>" required>
                        <label for="phone" class="label"><%= __('Phone') %></label>
                    </div>
                    <div class="form-group py-4">
                        <input type="email" class="form-control my-2 p-1 input" placeholder="<%= __('Email') %>" required>
                        <label for="email" class="label"><%= __('Email') %></label>
                    </div>
                    <div class="form-group py-4">
                        <input type="text" class="form-control my-2 p-1 input" placeholder="<%= __('Subjecft') %>" required>
                        <label for="topic" class="label"><%= __('Subject') %></label>
                    </div>
                    <div class="form-group py-4">
                        <textarea class="form-control my-2 p-2 input" placeholder="<%= __('Content') %>" required></textarea>
                        <label for="content" class="ta-label"><%= __('Content') %></label>
                    </div>
                    <div class="form-group py-4 my-4">
                        <input type="checkbox" checked required>
                        <label for="check" class="declare-text"><%= __('declare accurate') %></label>
                    </div>
                    <div class="form-group">
                        <button class="btn px-4 font-weight-bold contact-submit-btn"><%= __('Submit') %></button>
                        <button class="btn px-4 font-weight-bold btn-outline contact-reset-btn" type="reset"><%= __('Reset') %></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- end of contact section -->


<%- include('./includes/end.ejs') %>