<%- include('./includes/head.ejs') %>

<!-- disclaimer section -->
        
<section class="bg-white my-5 mx-3 px-4 py-5">
    <div class="container-fluid pt-5 mt-2">
        <h1 class="text-uppercase text-center mb-4"><%= __('disclaimer') %></h1>
        <p><%= __('disclaim p1') %></p>
        <p><%= __('disclaim p2') %> </p>
        <h5 class="text-uppercase mb-4"><%= __('Intellectual Property') %></h5>
        <p><%= __('disclaim p3') %></p>
        <h5 class="text-uppercase mb-4"><%= __('declare privacy') %></h5>
        <p><%= __('disclaim p4') %></p>
        <p><%= __('disclaim p5') %></p>
        <p><%= __('disclaim p6') %></p>
        <p><%= __('disclaim p7') %></p>
        <ul>
            <li><%= __('disclaim p8') %></li>
            <li><%= __('disclaim p9') %></li>
            <li><%= __('disclaim p10') %></li>
            <li><%= __('disclaim p11') %></li>
        </ul>
        <p><%= __('disclaim p12') %></p>
        <ul>
            <li><%= __('disclaim p13') %></li>
            <li><%= __('disclaim p14') %></li>
            <li><%= __('disclaim p15') %></li>
            <li><%= __('disclaim p16') %></li>
        </ul>
        <p><%= __('disclaim p17') %> </p>
    </div>
</section>
<!-- end of disclaimer section -->

<%- include('./includes/end.ejs') %>