<%- include('./includes/head.ejs') %>

<!-- Project Portfolio -->
<div class="jumbotron p-0">
    <img class="img-fluid" src="../img/ban-projects.jpg">
</div>
<section>
    <div class="container">
        <h1 class="text-center mb-4"><%= __('projects completed') %></h1>

        <div class="card mb-5">
            <div class="card-header project-head">
                <h6>HY/2002/26</h6>
                <%= __('Stonecutters Bridge Project') %>
            </div>
            <div class="row py-3">
                <div class="col-8">
                    <ul class="list-unstyled">
                        <li class="card-text project-detail"><span class="mx-3"><i class="fas fa-chevron-right text-warning"></i></span><%= __('Bridge Construction') %></li>
                    </ul>
                </div>
                <div class="col-4">

                </div>
            </div>
        </div>

        <div class="card mb-5">
            <div class="card-header project-head">
                <h6>KL/2008/09</h6>
                <%= __('Kai Tak I Project') %>
            </div>
            <div class="row py-3">
                <div class="col-8">
                    <ul class="list-unstyled">
                        <li class="card-text project-detail"><span class="mx-3"><i class="fas fa-chevron-right text-warning"></i></span><%= __('SF RnD') %></li>
                    </ul>
                </div>
                <div class="col-4">

                </div>
            </div>
        </div>

        <div class="card mb-5">
            <div class="card-header project-head">
                <h6>HY/2009/08</h6>
                <%= __('Tolo Highway Project') %>
            </div>
            <div class="row py-3">
                <div class="col-8">
                    <ul class="list-unstyled">
                        <li class="card-text project-detail"><span class="mx-3"><i class="fas fa-chevron-right text-warning"></i></span><%= __('Bridge Construction') %></li>
                    </ul>
                </div>
                <div class="col-4">

                </div>
            </div>
        </div>

        <div class="card mb-5">
            <div class="card-header project-head">
                <h6>KL/2012/01</h6>
                <%= __('Yuet Wah St Project') %>
            </div>
            <div class="row py-3">
                <div class="col-8">
                    <ul class="list-unstyled">
                        <li class="card-text project-detail"><span class="mx-3"><i class="fas fa-chevron-right text-warning"></i></span><%= __('Bridge Construction') %></li>
                    </ul>
                </div>
                <div class="col-4">

                </div>
            </div>
        </div>

        <div class="card mb-5">
            <div class="card-header project-head">
                <h6>HY/2013/23 &amp; HY/2014/18</h6>
                <%= __('Barrier-free Project') %>
            </div>
            <div class="row py-3">
                <div class="col-8">
                    <ul class="list-unstyled">
                        <li class="card-text project-detail"><span class="mx-3"><i class="fas fa-chevron-right text-warning"></i></span><%= __('RnD') %></li>
                    </ul>
                </div>
                <div class="col-4">

                </div>
            </div>
        </div>

        <div class="card mb-5">
            <div class="card-header project-head">
                <h6>HY/2012/07</h6>
                <%= __('TM CLK Link Project') %>
            </div>
            <div class="row py-3">
                <div class="col-8">
                    <ul class="list-unstyled">
                        <li class="card-text project-detail"><span class="mx-3"><i class="fas fa-chevron-right text-warning"></i></span><%= __('Bridge Construction') %></li>
                    </ul>
                </div>
                <div class="col-4">

                </div>
            </div>
        </div>

        <div class="card mb-5">
            <div class="card-header project-head">
                <h6>KL/2012/02</h6>
                <%= __('Kai Tak 3A Project') %>
            </div>
            <div class="row py-3">
                <div class="col-8">
                    <ul class="list-unstyled">
                        <li class="card-text project-detail"><span class="mx-3"><i class="fas fa-chevron-right text-warning"></i></span><%= __('RnD') %></li>
                    </ul>
                </div>
                <div class="col-4">

                </div>
            </div>
        </div>

        <div class="card mb-5">
            <div class="card-header project-head">
                <h6>CV/2013/08</h6>
                <%= __('Liantang Project') %>
            </div>
            <div class="row py-3">
                <div class="col-8">
                    <ul class="list-unstyled">
                        <li class="card-text project-detail"><span class="mx-3"><i class="fas fa-chevron-right text-warning"></i></span><%= __('Bridge Construction') %></li>
                    </ul>
                </div>
                <div class="col-4">

                </div>
            </div>
        </div>

        <div class="card mb-5">
            <div class="card-header project-head">
                <h6>HY/2019/15</h6>
                <%= __('Central Bypass Project') %>
            </div>
            <div class="row py-3">
                <div class="col-8">
                    <ul class="list-unstyled">
                        <li class="card-text project-detail"><span class="mx-3"><i class="fas fa-chevron-right text-warning"></i></span><%= __('RnD') %></li>
                    </ul>
                </div>
                <div class="col-4">
                
                </div>
            </div>
        </div>

        <div class="card mb-5">
            <div class="card-header project-head">
                <h6>CV/2014/03</h6>
                <%= __('Universal Access Project') %>
            </div>
            <div class="row py-3">
                <div class="col-8">
                    <ul class="list-unstyled">
                        <li class="card-text project-detail"><span class="mx-3"><i class="fas fa-chevron-right text-warning"></i></span><%= __('RnD') %></li>
                    </ul>
                </div>
                <div class="col-4">

                </div>
            </div>
        </div>

        <div class="card mb-5">
            <div class="card-header project-head">
                <h6>HY/2011/03</h6>
                <%= __('C4 Project') %>
            </div>
            <div class="row py-3">
                <div class="col-8">
                    <ul class="list-unstyled">
                        <li class="card-text project-detail"><span class="mx-3"><i class="fas fa-chevron-right text-warning"></i></span><%= __('RnD') %></li>
                    </ul>
                </div>
                <div class="col-4">

                </div>
            </div>
        </div>
    </div>
</section>


<!-- End of Project Portfolio -->

<%- include('./includes/end.ejs') %>